<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Login</title>
    <%-include('../css_js/landing_css')%>
    <%-include('../css_js/login_css')%>
</head>
<body style="background-color: slategray;">
    <%-include('../sections/nav')%>
    <div class="container">
        <div class="row" style="margin-top: 20%;">
            <div class="col-md-4"></div>
            <div class="col-md-4 p-5" style="background-color:white;">
                <div class="text-center">
                    <h1>Login</h1>
                </div>
                <br>
                <form method="POST" action="/admin/adminlogin">
                    <div class="form-outline mb-4">
                        <!-- <input type="text" id="mobilenum" class="form-control" name="clientmobile" pattern="[0-9]{11}" title="Enter a valid phone number" required/>
                        <label class="form-label" for="form1Example1">Phone Number</label> -->
                        <input type="text" id="username" class="form-control" name="username" title="Enter your username" required>
                        <label class="form-label" for="form1Example1">Username</label>
                    </div>
                    <div class="form-outline mb-4">
                        <input type="password" id="password" class="form-control" name="password" title="Enter your password" required>
                        <label class="form-label" for="form1Example1">Password</label>
                    </div>
                    
                    <button type="submit" class="btn btn-primary btn-block">Log In</button>
                </form>
            </div>
            <div class="col-md-4"></div>
        </div>
    </div>
<%-include('../css_js/landing_js')%>
<%-include('../css_js/login_js')%>
</body>
</html>