<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta name="description" content="">
      <meta name="author" content="">
      <title>Admin Dashboard</title>
      <%-include('../css_js/login_css')%>
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/combine/npm/fullcalendar@5.5.1/main.min.css,npm/fullcalendar@5.5.1/main.min.css">
   </head>
   <body style="background-color: slategray;">
      <%-include('../sections/admin_nav')%>
      <!-- Content Wrapper -->
      <div id="content-wrapper" class="d-flex flex-column">
         <!-- Main Content -->
         <div id="content">
            <!-- Begin Page Content -->
            <div class="container-fluid">
               <!-- Page Heading -->
               <!-- Content Row -->
               <div class="row mt-4">
                  <!-- Total Number of Appointments -->
                  <div class="col-xl-4 col-md-6 mb-4">
                     <div class="card border-left-primary shadow h-100 py-2">
                        <div class="card-body">
                           <div class="row no-gutters align-items-center">
                              <div class="col mr-2">
                                 <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                    Total Number of Appointments
                                 </div>
                                 <div class="h5 mb-0 font-weight-bold text-gray-800"><%=appCount.length%></div>
                              </div>
                              <div class="col-auto">
                                 <i class="fas fa-calendar fa-2x text-gray-300"></i>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <!-- Today's Appointment -->
                  <div class="col-xl-4 col-md-6 mb-4">
                     <div class="card border-left-success shadow h-100 py-2">
                        <div class="card-body">
                           <div class="row no-gutters align-items-center">
                              <div class="col mr-2">
                                 <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                    Today's Appointments
                                 </div>
                                 <div class="h5 mb-0 font-weight-bold text-gray-800"><%=appCur.length%></div>
                              </div>
                              <div class="col-auto">
                                 <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <!-- Ongoing Projects -->
                  <div class="col-xl-4 col-md-6 mb-4">
                     <div class="card border-left-success shadow h-100 py-2">
                        <div class="card-body">
                           <div class="row no-gutters align-items-center">
                              <div class="col mr-2">
                                 <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Ongoing Projects
                                 </div>
                                 <div class="h5 mb-0 font-weight-bold text-gray-800"><%=onProj.length%></div>
                              </div>
                              <div class="col-auto">
                                 <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <!-- Calendar -->
               <div class="row mb-5">
                  <div class="col-md-1"> </div>
                  <div class="col-md-10">
                     <div class="card shadow mb-12">
                        <div class="card-header py-3">
                           <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                              CALENDAR
                           </div>
                           <div id='calendar'></div>
                        </div>
                     </div>
                  </div>
                  <div class="col-md-1"> </div>
               </div>
               <!-- Calendar -->
            </div>
         </div>
      </div>
      <!-- /.container-fluid -->
      </div>
      <!-- End of Main Content -->
      <%-include('../css_js/dashboard')%>
      <script src="https://cdn.jsdelivr.net/combine/npm/fullcalendar@5.5.1,npm/fullcalendar@5.5.1/main.min.js"></script>
      <script>
         document.addEventListener('DOMContentLoaded', function() {
           var calendarEl = document.getElementById('calendar');
         
           var calendar = new FullCalendar.Calendar(calendarEl, {
               height: 600,
               contentHeight: 450,
               initialView: 'dayGridMonth',
               initialDate: '2021-01-12',
               eventColor: 'green',
               events: [
               <%appCount.forEach((app)=>{%>
                  <%clients.forEach((client)=>{%>
                     <%if(app.Client_ID==client.Client_ID&&app.Status=="Approved"){%>
                        {
                           title: '<%=client.First_Name%> <%=client.Last_Name%>',
                           start: '<%=app.Appointment_Date.getFullYear()%>-<%=("0"+(app.Appointment_Date.getMonth()+1)).slice(-2)%>-<%=("0"+app.Appointment_Date.getDate()).slice(-2)%>'
                        },
                     <%}%> 
                  <%})%>
               <%}) %>
               ]
           });
         
           calendar.render();
           });
      </script>
   </body>
</html>