<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Pirata+One&display=swap" rel="stylesheet">
    <title>Projects</title>
    <%-include('../css_js/login_css')%>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.23/datatables.min.css"/>
</head>
<body style="background-color: slategray;">
    <!-- Navigation-->
    <%-include('../sections/admin_nav')%>
    <!-- Page Content -->
    
    <div class="container mt-5">
        <h1 class="font-weight-light text-center text-lg-left mt-4 mb-0" style="color: white; font-family: 'Pirata One', cursive; letter-spacing: 10px; text-shadow: 2px 6px #272727;">Project Roster</h1>
        <br><br>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                    <%if(projects.length==0){%>
                      <div class="alert alert-info">
                        You have no projects
                      </div>
                    <%}%>
                      <div class="mb-5" style="float: right;">
                        <button class="btn btn-success btn-sm" data-mdb-toggle="modal" data-mdb-target="#project"><i class="fa fa-plus"></i> New Project</button>
                      </div>
                      <table class="table table-hover" id="apptable">
                            <thead>
                                <tr>
                                    <th scope="col">Project Number</th>
                                    <th scope="col">Client</th>
                                    <th scope="col">Artist</th>
                                    <th scope="col">Design</th>
                                    <th scope="col">Color</th>
                                    <th scope="col">Size</th>
                                    <th scope="col">Date Started</th>
                                    <th scope="col">Date Finished</th>
                                    <th scope="col">Status</th>
                                    <th scope="col">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                            <%projects.forEach((project)=>{%>
                                <tr>                                 
                                    <td name="proj_num"><%=project.Project_Number%></td>
                                    <%clients.forEach((client)=>{%>
                                        <%if(client.Client_ID==project.Client_ID){%>
                                            <td><%=client.First_Name%> <%=client.Last_Name%></td>
                                        <%}%>
                                    <%})%>
                                    <%artists.forEach((artist)=>{%>
                                        <%if(artist.Artist_ID==project.Artist_ID){%>
                                            <td><%=artist.First_Name%> <%=artist.Last_Name%></td>
                                        <%}%>
                                    <%})%>
                                    <%designs.forEach((design)=>{%>
                                        <%if(design.Design_ID==project.Design_ID){%>
                                            <td><button class="btn btn-primary btn-sm" data-mdb-toggle="modal" data-mdb-target="#view<%=design.Design_ID%>"><%=design.Design_Name%></button></td>
                                            <div class="modal fade" id="view<%=design.Design_ID%>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="exampleModalLabel">Image Preview</h5>
                                                        <button
                                                        type="button"
                                                        class="btn-close"
                                                        data-mdb-dismiss="modal"
                                                        aria-label="Close"
                                                        ></button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <img
                                                                src="<%=design.Image_Link%>"
                                                                class="img-thumbnail"
                                                                alt="..."
                                                                />
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">
                                                        Close
                                                        </button>
                                                    </div>
                                                    </div>
                                                </div>
                                            </div>
                                        <%}%>
                                    <%})%>
                                    <td><%=project.Color%></td>
                                    <td><%=project.Size%></td>
                                    <td><%=months[project.Date_Started.getMonth()]%> <%=project.Date_Started.getDate()%>, <%=project.Date_Started.getFullYear()%></td>
                                    <%if(project.Date_Finished==null){%>
                                        <td>
                                            <button class="btn btn-success btn-sm" data-mdb-toggle="modal" data-mdb-target="#confirmdone<%=project.Project_Number%>">Mark as Done</button>
                                        </td>
                                    <%}else{%>
                                        <td><%=months[project.Date_Finished.getMonth()]%> <%=project.Date_Finished.getDate()%>, <%=project.Date_Finished.getFullYear()%></td>
                                    <%}%>
                                    <td><%=project.Status%></td>
                                    <td>
                                        <%clients.forEach((client)=>{%>
                                            <%if(project.Client_ID==client.Client_ID){%>
                                                <a href="/admin/session_records?Project_id=<%=project.Project_Number%>&Client_name=<%=client.First_Name%>+<%=client.Last_Name%>"><button class="btn btn-primary btn-floating"><i class="fas fa-info"></i></button></a>
                                            <%}%>
                                        <%})%>
                                    </td>
                                </tr>
                            <%})%>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div
    class="modal fade"
    id="project"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
    >
        <div class="modal-dialog">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">New Project</h5>
                <button
                type="button"
                class="btn-close"
                data-mdb-dismiss="modal"
                aria-label="Close"
                ></button>
            </div>
            <form action="/admin/newproject" method="POST">
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="input-group flex-nowrap mb-4">
                            <span class="input-group-text" id="addon-wrapping">Client</span>
                            <select name="clientname" id="" class="form-control" required>
                                <!--display client list-->
                                <option value="" disabled selected>Choose a Client</option>
                                <%clients.forEach((client)=>{%>
                                    <option value="<%=client.Client_ID%>"><%=client.First_Name%> <%=client.Last_Name%></option>
                                <%})%>
                            </select>
                        </div>
                        <div class="input-group flex-nowrap mb-4">
                            <span class="input-group-text" id="addon-wrapping">Artist</span>
                            <select name="artistname" id="" class="form-control" required>
                                <!--display artist list-->
                                <option value="" disabled selected>Choose a Artist</option>
                                <%artists.forEach((artist)=>{%>
                                    <option value="<%=artist.Artist_ID%>"><%=artist.First_Name%> <%=artist.Last_Name%></option>
                                <%})%>
                            </select>
                        </div>
                        <div class="input-group flex-nowrap mb-4">
                            <span class="input-group-text" id="addon-wrapping">Design</span>
                            <select name="design" id="imageselect" class="form-control" required onchange="preview()">
                                <!--display design list-->
                                <option value="" disabled selected>Choose a design</option>
                                <%designs.forEach((design)=>{%>
                                    <option value="<%=design.Design_ID%>"><%=design.Design_Name%></option>
                                <%})%>
                            </select>
                        </div>
                        <div class="mb-4" id="imgpreview">
                                
                        </div>
                        <div class="input-group flex-nowrap mb-4">
                            <span class="input-group-text" id="addon-wrapping">Color</span>
                            <select name="color" id="" class="form-control" required>
                                <option value="" disabled selected>Choose a Color</option>
                                <option value="Colored">Colored</option>
                                <option value="B/W">Black and White</option>
                            </select>
                        </div>
                        <div class="input-group flex-nowrap mb-4">
                            <span class="input-group-text" id="addon-wrapping">Size</span>
                            <select name="size" id="" class="form-control" required>
                                <!--display size list-->
                                <option value="" disabled selected>Choose a Size</option>
                                <option value="Small">Small</option>
                                <option value="Medium">Medium</option>
                                <option value="Large">Large</option>
                            </select>
                        </div>
                        <div class="input-group flex-nowrap mb-4">
                            <span class="input-group-text" id="addon-wrapping">Date</span>
                            <input type="date" name="date" class="form-control" required>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">
                Close
                </button>
                <button type="submit" class="btn btn-success"><i class="fa fa-plus"></i> Add</button>
            </div>
            </form>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <%projects.forEach((proj)=>{%>
    <div
    class="modal fade"
    id="confirmdone<%=proj.Project_Number%>"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
    >
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Project <%=proj.Project_Number%> Done Confirmation</h5>
                    <button
                    type="button"
                    class="btn-close"
                    data-mdb-dismiss="modal"
                    aria-label="Close"
                    ></button>
                </div>
            <div class="modal-body">
                <div class="alert alert-info">
                    Are sure to mark this project as done?
                </div>
            </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">
                    Close
                    </button>
                    <form action="/admin/projdone?id=<%=proj.Project_Number%>" method="POST">
                        <button type="submit" class="btn btn-success">Finish</button>                    
                    </form>
                </div>
            </div>
        </div>
    </div>
    <%})%>
    <%-include('../css_js/login_js')%>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"
    integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
    crossorigin="anonymous"></script>
    <script>
        function preview(){
            $.ajax({
                method:"POST",
                url:"/admin/preview?id="+$("#imageselect").val()
            }).done((data,status)=>{
                if(status=="success"){
                    $("#imgpreview").empty();
                    $("#imgpreview").html(data);
                }
            });
        }
    </script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.23/datatables.min.js"></script>
    <script>
        $(document).ready(()=>{
            $("#apptable").DataTable({
                "paging": false
            });
        });
    </script>
</body>
</html>