<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Pirata+One&display=swap" rel="stylesheet">
    <title>Projects</title>
    <%-include('../css_js/login_css')%>
</head>
<body style="background-color: slategray;">
    <!-- Navigation-->
    <%-include('../sections/admin_nav')%>
    <!-- Page Content -->
    
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header h4">
                        Projects
                    </div>
                    <div class="card-body">
                      <div class="alert alert-info">
                        You have no projects
                      </div>
                      <div style="float: right;">
                        <button class="btn btn-success btn-sm" data-mdb-toggle="modal" data-mdb-target="#project"><i class="fa fa-plus"></i> New Project</button>
                      </div>
                      <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th scope="col">Project Number</th>
                                    <th scope="col">Client</th>
                                    <th scope="col">Artist</th>
                                    <th scope="col">Design</th>
                                    <th scope="col">Color</th>
                                    <th scope="col">Size</th>
                                    <th scope="col">Date Started</th>
                                    <th scope="col">Date Finished</th>
                                    <th scope="col">Status</th>
                                    <th scope="col">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                            <%projects.forEach((project)=>{%>
                                <a href="admin/session_records?Project_id=<%=project.Project_Number%>"></a>
                                    <tr>
                                        <td><%=project.Project_Number%></td>
                                        <td><%=project.client_name%></td>
                                        <td><%=project.artist_name%></td>
                                        <td><%=project.Design_Name%></td>
                                        <td><%=project.Color%></td>
                                        <td><%=project.Size%></td>
                                        <td><%=project.Date_Started%></td>
                                        <td><%=project.Date_Finished%></td>
                                        <td><%=project.Status%></td>
                                        <td>
                                            <button class="btn btn-warning btn-floating"><i class="fas fa-edit"></i></button>
                                        </td>
                                    </tr>
                                </a>
                            <%})%>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div
    class="modal fade"
    id="project"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
    >
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">New Project</h5>
            <button
            type="button"
            class="btn-close"
            data-mdb-dismiss="modal"
            aria-label="Close"
            ></button>
        </div>
        <form action="/admin/newproject" method="POST">
        <div class="modal-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="input-group flex-nowrap mb-4">
                        <span class="input-group-text" id="addon-wrapping">Client</span>
                        <select name="" id="" class="form-control" >
                            <!--display client list-->
                            <option value="" disabled selected>Optional if a design is to be submitted</option>
                            <option value="">asd</option>
                            <option value="">asd</option>
                        </select>
                    </div>
                    <div class="input-group flex-nowrap mb-4">
                        <span class="input-group-text" id="addon-wrapping">Artist</span>
                        <select name="" id="" class="form-control" >
                            <!--display artist list-->
                            <option value="" disabled selected>Optional if a design is to be submitted</option>
                            <option value="">asd</option>
                            <option value="">asd</option>
                        </select>
                    </div>
                    <div class="input-group flex-nowrap mb-4">
                        <span class="input-group-text" id="addon-wrapping">Design</span>
                        <select name="" id="" class="form-control" >
                            <!--display design list-->
                            <option value="" disabled selected>Optional if a design is to be submitted</option>
                            <option value="">asd</option>
                            <option value="">asd</option>
                        </select>
                    </div>
                    <div class="input-group flex-nowrap mb-4">
                        <span class="input-group-text" id="addon-wrapping">Color</span>
                        <select name="" id="" class="form-control" >
                            <!--display color list-->
                            <option value="" disabled selected>Optional if a design is to be submitted</option>
                            <option value="">asd</option>
                            <option value="">asd</option>
                        </select>
                    </div>
                    <div class="input-group flex-nowrap mb-4">
                        <span class="input-group-text" id="addon-wrapping">Size</span>
                        <select name="" id="" class="form-control" >
                            <!--display size list-->
                            <option value="" disabled selected>Optional if a design is to be submitted</option>
                            <option value="">asd</option>
                            <option value="">asd</option>
                        </select>
                    </div>
                    <div class="input-group flex-nowrap mb-4">
                        <span class="input-group-text" id="addon-wrapping">Date</span>
                        <input type="date" name="date" class="form-control">
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">
            Close
            </button>
            <button type="submit" class="btn btn-success"><i class="fa fa-plus"></i> Add</button>
        </div>
        </form>
        </div>
    </div>
    </div>
    <%-include('../css_js/login_js')%>
</body>
</html>