<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Pirata+One&display=swap" rel="stylesheet">
    <title>Sessions</title>
    <%-include('../css_js/landing_css')%>
    <%-include('../css_js/admin/admin_css')%>
</head>
<body style="background-color: slategray;">
    <!-- Navigation-->
    <%-include('../sections/admin_nav')%>
    <!-- Page Content -->
    
    <div class="container" style="margin-top: 5%;">
        <h1 class="font-weight-light text-center text-lg-left mt-4 mb-0" style="color: white; font-family: 'Pirata One', cursive; letter-spacing: 10px; text-shadow: 2px 6px #272727;">Session Roster</h1>
        <br><br>
        
        <div class="card">
            <%if(sessions.length==0){%>
                <div class="card" style="background-color: bisque;">
                    <div class="card-body text-center">You have no recorded sessions</div>
                </div>
            <%}%>
        </div>
         <br>
        <div class="card">
            <table class="table table-sm table-hover align-middle">
                <thead class="table-light">
                  <tr>
                    <th scope="col">Session Number</th>
                    <th scope="col">Client</th>
                    <th scope="col">Artist</th>
                    <th scope="col">Date Started</th>
                    <th scope="col">Details</th>
                  </tr>
                </thead>
                <tbody>
                <%if(sessions.length>0){%>        
                    <%sessions.forEach((session)=>{%>
                    <tr>
                        <th scope="row"><%=session.session_num%></th>
                        <td class="text-center"><%=session.client_name%></td>
                        <td class="text-center"><%=session.artist_name%></td>
                        <td class="text-center"><%=session.session_date%></td>
                        <td class="text-center">
                            <!-- Button trigger modal -->
                            <button type="button" class="btn btn-primary btn-floating" data-mdb-toggle="modal" data-mdb-target="#sessionDetails">
                                <i class="fas fa-info"></i>
                            </button>
                        </td>
                    </tr>

                    <!-- Modal -->
                    <div class="modal fade" id="sessionDetails" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Session Details</h5>
                                <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    Time Started: <%= session.session_start %> <br>
                                    <% if(session.session_end==NULL){%>
                                        <button type="button" class="btn btn-warning">End Session</button>
                                    <%}else{%>
                                    Time Ended: <%= session.session_end %>
                                    <%}%>

                                </div>
                                <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">
                                    Close
                                </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <%})%>
                <%}%>
                </tbody>
            </table>
        </div>
    </div>

<%-include('../css_js/landing_js')%>
</body>
</html>