<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fire At Will</title>
    <%-include('../css_js/login_css')%>
</head>
<body style="background-color: slategray;">
    <%-include('../sections/clientnav')%>
    <div class="container mt-5" >
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header h4">
                        My Appointments
                        <button class="btn btn-success btn-sm" style="float: right;" data-mdb-toggle="modal" data-mdb-target="#appointment"><i class="fa fa-plus"></i> Appointment</button>
                    </div>
                    <div class="card-body">
                      <div class="alert alert-info">
                        You got no appointments. Check out the gallery to see what you like on your next tattoo design.
                      </div>
                      <table class="table table-hover">
                          <thead>
                              <tr>
                                  <th scope="col">Date Created</th>
                                  <th scope="col">Appointment Date</th>
                                  <th scope="col">Status</th>
                                  <th scope="col">Action</th>
                              </tr>
                          </thead>
                          <tbody>
                              <%apps.forEach((app)=>{%>
                                <tr>
                                    <td><%=months[app.Date_Created.getMonth()]%> <%=app.Date_Created.getDate()%>, <%=app.Date_Created.getFullYear()%></td>
                                    <td><%=months[app.Appointment_Date.getMonth()]%> <%=app.Appointment_Date.getDate()%>, <%=app.Appointment_Date.getFullYear()%></td>
                                    <td ><%=app.Status%></td>
                                    <td>
                                        <button class="btn btn-primary btn-floating" data-mdb-toggle="modal" data-mdb-target="#applist<%=app.Appointment_ID%>"><i class="fa fa-eye"></i></button>
                                    </td>
                                </tr>
                              <%})%>                           
                          </tbody>
                      </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div
    class="modal fade"
    id="appointment"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
    >
        <div class="modal-dialog">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button
                type="button"
                class="btn-close"
                data-mdb-dismiss="modal"
                aria-label="Close"
                ></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="alert alert-info text-center">
                            Terms and Conditions
                        </div>
                        <div class="alert alert-info">
                            By applying for an appointment, you hereby abide to our rules and conditions. Thus, in doing so, you are physically ready, mentaly sober, and did not have any tattoo procedures recently.
                            As well as the design that you will provide or chosen from the gallery will be considered final and non changeable.
                            A notification will be given to you 3 days before the date of the appointment for your availability. Failure to respond with the given time period will automaticaly invalidate your appointment.   
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <form action="/client/appointments" method="POST">
                            <div class="form-outline mb-4">
                              <input type="date" class="form-control" name="date" required />
                              <label class="form-label" for="form1Example1"></label>
                            </div>
                          
                            <div class="form-outline mb-4">
                                <input type="text" id="form3Example1" class="form-control" placeholder="Optional if a design is selected" name="imglink"/>
                                <label class="form-label" for="form3Example1">Image URL</label>
                            </div>

                            <div class="input-group flex-nowrap mb-4">
                                <span class="input-group-text" id="addon-wrapping">Archive Design</span>
                                <select name="imgarc" id="imageselect" class="form-control" onchange="preview()">
                                    <option value="0" disabled selected>Optional if a design is to be submitted</option>
                                    <option value="0">None</option>
                                    <%images.forEach((image)=>{%>
                                        <option value="<%=image.Design_ID%>"><%=image.Design_Name%></option>
                                    <%})%>
                                </select>
                            </div>

                            <div class="mb-4" id="imgpreview">
                                
                            </div>

                            <div class="form-outline mb-4">
                                <textarea class="form-control" id="textAreaExample" rows="4" name="purpose" required></textarea>
                                <label class="form-label" for="textAreaExample">Purpose</label>
                            </div>
                          
                            <!-- 2 column grid layout for inline styling -->
                            <div class="row mb-4">
                              <div class="col d-flex justify-content-center">
                                <!-- Checkbox -->
                                <div class="form-check">
                                  <input
                                    class="form-check-input"
                                    type="checkbox"
                                    value=""
                                    id="form1Example3"
                                  required/>
                                  <label class="form-check-label" for="form1Example3">I have read and accept the conditions stated above.</label>
                                </div>
                              </div>
                            </div>
                          
                            <!-- Submit button -->
                            <button type="submit" class="btn btn-primary btn-block">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">
                Close
                </button>
            </div>
            </div>
        </div>
    </div>
    <!-- View Appointment Details -->
    <%apps.forEach((app)=>{%>
        <div class="modal fade" id="applist<%=app.Appointment_ID%>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Appointment Details</h5>
                    <button
                    type="button"
                    class="btn-close"
                    data-mdb-dismiss="modal"
                    aria-label="Close"
                    ></button>
                </div>
                <div class="modal-body">
                    <div class="row mb-1">
                        <div class="col-md-12">
                            <p class="note note-light">
                                <strong>Date Created:</strong> <%=months[app.Date_Created.getMonth()]%> <%=app.Date_Created.getDate()%>, <%=app.Date_Created.getFullYear()%> 
                            </p>
                        </div>
                    </div>
                    <div class="row mb-1">
                        <div class="col-md-12">
                            <p class="note note-light">
                                <strong>Date of Appointment:</strong> <%=months[app.Appointment_Date.getMonth()]%> <%=app.Appointment_Date.getDate()%>, <%=app.Appointment_Date.getFullYear()%>
                            </p>
                        </div>
                    </div>
                    <%if(app.Image_Submission=="N/A"){%>
                        <div class="row mb-1">
                            <div class="col-md-12">
                                <p class="note note-light">
                                    <strong>Image Submission:</strong> No Design Submitted
                                </p>
                            </div>
                        </div>
                    <%}else{%>
                        <div class="row mb-1">
                            <div class="col-md-12">
                                <p class="note note-light">
                                    <strong>Image Submission:</strong>
                                </p>
                                <img
                                    src="<%=app.Image_Submission%>"
                                    class="img-thumbnail"
                                    alt="..."
                                />
                            </div>
                        </div>
                    <%}%>
                    <%if(app.Image_Archive_ID==0){%>
                        <div class="row mb-1">
                            <div class="col-md-12">
                                <p class="note note-light">
                                    <strong>Design From Archive:</strong> No Design Selected
                                </p>
                            </div>
                        </div>
                    <%}else{%>
                        <div class="row mb-1">
                            <div class="col-md-12">
                                <p class="note note-light">
                                    <strong>Design From Archive:</strong>
                                </p>
                                <%images.forEach((image)=>{%>
                                    <%if(image.Design_ID==app.Image_Archive_ID){%>
                                        <img
                                            src="<%=image.Image_Link%>"
                                            class="img-thumbnail"
                                            alt="..."
                                        />
                                    <%}%>
                                <%})%>  
                            </div>
                        </div>
                    <%}%>
                    <div class="row mb-1">
                        <div class="col-md-12">
                            <p class="note note-light">
                                <strong>Purpose:</strong> <%=app.purpose%>
                            </p>
                        </div>
                    </div>
                    <div class="row mb-1">
                        <div class="col-md-12">
                            <%if(app.Status=="Rejected"){%>
                                <p class="note note-danger">
                                    <strong>Status:</strong> <%=app.Status%>
                                </p>
                            <%}else if(app.Status=="Approved"){%>
                                <p class="note note-success">
                                    <strong>Status:</strong> <%=app.Status%>
                                </p>
                            <%}else{%>
                                <p class="note note-warning">
                                    <strong>Status:</strong> <%=app.Status%>
                                </p>
                            <%}%>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">
                    Close
                    </button>
                </div>
                </div>
            </div>
        </div>
    <%})%>
    <%-include('../css_js/login_js')%>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"
    integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
    crossorigin="anonymous"></script>
    <script>
        function preview(){
            $.ajax({
                method:"POST",
                url:"/client/preview?id="+$("#imageselect").val()
            }).done((data,status)=>{
                if(status=="success"){
                    $("#imgpreview").empty();
                    $("#imgpreview").html(data);
                }
            });
        }
    </script>
</body>
</html>