<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fire At Will</title>
    <%-include('../css_js/login_css')%>
</head>
<body style="background-color: slategray;">
    <%-include('../sections/clientnav')%>
    <div class="container mt-5" >
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header h4">
                        Notifications
                    </div>
                    <div class="card-body">
                    <%apps.forEach((app)=>{%>
                        <%if(app.Status=="Approved"){%>
                            <%check++%>
                        <%}%>
                    <%})%>
                    <%if(check==0){%>
                        <div class="alert alert-info">
                            You got no notifications. Why not look into our gallery ;)
                        </div>
                    <%}%>
                    <%apps.forEach((app)=>{%>
                        <%if(app.Status=="Approved"){%>
                            <div class="card border border-primary mb-4">
                                <div class="card-header h6 text-primary">
                                    Appointment Application
                                </div>
                                <div class="card-body">
                                    <p class="card-text">
                                        Your appointment for <strong><%=months[app.Appointment_Date.getMonth()]%> <%=app.Appointment_Date.getDate()%>, <%=app.Appointment_Date.getFullYear()%></strong> has been approve. A text message will be delivered to you from the management for your confirmation of the said date.
                                    </p>
                                </div>
                                <div class="card-footer text-muted">
                                    1 day ago
                                </div>
                            </div>
                        <%}%>
                    <%})%>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%-include('../css_js/login_js')%>
</body>
</html>