<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gallery</title>
    <%if(type=="guest"){%>
        <%-include('../css_js/landing_css')%>
    <%}else{%>
        <%-include('../css_js/login_css')%>
    <%}%>
</head>
<body style="background-color: slategray;">
    <%if(type=="guest"){%>
        <%-include('../sections/nav')%>
    <%}else if(type=="admin"){%>
        <%-include('../sections/admin_nav')%>
    <%}else if(type=="client"){%>
        <%-include('../sections/clientnav')%>
    <%}%>
    <!-- Page Content -->
<div class="container" style="margin-top: 5%;">
    <%if(type=="guest"){%>
        <h1 class="font-weight-light text-center text-lg-left mt-4 mb-0">Design Gallery</h1>

        <hr class="mt-2 mb-5">
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1"><i class="fa fa-search"></i></span>
                <input id="guestsearch" type="text" class="form-control" placeholder="Search by name or tags" aria-label="Username" aria-describedby="basic-addon1">
            </div>
    <%}else if(type=="admin"){%>
        <div class="card mb-5">
            <div class="card-header h4">
                Design Gallery
            </div>
            <div class="card-body">
                <div class="row " style="float:right;">
                    <div class="col-md-12">
                        <button class="btn btn-success btn-sm" data-mdb-toggle="modal" data-mdb-target="#adddesign"><i class="fa fa-plus"></i> Add Design</button>
                    </div>
                </div>
                <div class="input-group mb-3 p-5">
                    <span class="input-group-text" id="basic-addon1"><i class="fa fa-search"></i></span>
                    <input id="usersearch" type="text" class="form-control" placeholder="Search by name or tags" aria-label="Username" aria-describedby="basic-addon1">
                </div>
            </div>
        </div>
    <%}else{%>
        <div class="card mb-5">
            <div class="card-header h4">
                Design Gallery
            </div>
            <div class="card-body">
                <div class="input-group mb-3 p-5">
                    <span class="input-group-text" id="basic-addon1"><i class="fa fa-search"></i></span>
                    <input id="usersearch" type="text" class="form-control" placeholder="Search by name or tags" aria-label="Username" aria-describedby="basic-addon1">
                </div>
            </div>
        </div>
    <%}%>
    <div class="row text-center text-lg-left" id="gallerylist">
        <%images.forEach((image)=>{%>
            <div class="col-lg-3 col-md-4 col-6">
                <a href="<%=image.Image_Link%>" class="d-block mb-4 h-100">
                    <img class="img-fluid img-thumbnail" src="<%=image.Image_Link%>" alt="">
                </a>
            </div>
        <%})%>
    </div>

</div>
<!-- /.container -->
<!-- Modal -->
<div
  class="modal fade"
  id="adddesign"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
    <form action="/gallery/adddesign" method="POST">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add Design to Archive</h5>
        <button
          type="button"
          class="btn-close"
          data-mdb-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
          <div class="row">
            <div class="col-md-12">
                <div class="form-outline mb-4">
                    <input type="text" id="form4Example1" class="form-control" name="imagename"/ required>
                    <label class="form-label" for="form4Example1">Design Name</label>
                </div>
                <div class="form-outline mb-4">
                    <input type="text" id="form4Example1" class="form-control" name="imagelink" placeholder="Image from the Web"/ required>
                    <label class="form-label" for="form4Example1">Design Link</label>
                </div>
                <div class="form-outline mb-4">
                    <input type="text" id="form4Example1" class="form-control" name="imagetags" placeholder="Cool, Awesome, Fiction"/ required>
                    <label class="form-label" for="form4Example1">Design Tags</label>
                </div>
                <div class="form-outline mb-4">
                    <input type="text" id="form4Example1" class="form-control" name="imagedesc"/ required>
                    <label class="form-label" for="form4Example1">Design Description</label>
                </div>
            </div>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">
          Close
        </button>
        <button type="submit" class="btn btn-success">Add</button>
      </div>
    </form>
    </div>
  </div>
</div>

<%if(type=="guest"){%>
    <%-include('../css_js/landing_js')%>
<%}else{%>
    <%-include('../css_js/login_js')%>
<%}%>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"
integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
crossorigin="anonymous"></script>
<script>
    function gallerysnippet(data){
        $("#gallerylist").empty();
        $("#gallerylist").html(data);
    }
    $("#guestsearch").on("keydown",()=>{
        $.ajax({
            method:"POST",
            url:"/gallery?keyword="+$("#guestsearch").val()
        }).done((data,status)=>{
            if(status=="success"){
                if(data!=""){
                    gallerysnippet(data);
                }
            }
        });
    });
    $("#usersearch").on("keydown",()=>{
        $.ajax({
            method:"POST",
            url:"/gallery?keyword="+$("#usersearch").val()
        }).done((data,status)=>{
            if(status=="success"){
                if(data!=""){
                    gallerysnippet(data);
                }
            }
        });
    });
</script>
</body>
</html>